@tailwind base;
@tailwind components;
@tailwind utilities;

/* port back to PDS */
p {
  margin-block-end: 1rem;
}

/* TW hacks */
.prose
  :where(tbody tr:last-child):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  border-bottom-width: var(--pds-border-width-default);
}

section.hero-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;  
}
.hero-section h1,
.hero-section .pds-input-text,
.hero-section input#search-form::placeholder {
  color: #FFF;
}