@tailwind base;
@tailwind components;
@tailwind utilities;

/* port back to PDS */
p {
  margin-block-end: 1rem;
}

/* TW hacks */
@keyframes scaleUp {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.3);
  }
}

.prose
  :where(tbody tr:last-child):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  border-bottom-width: var(--pds-border-width-default);
}

section.hero-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;  
  overflow: hidden;
}
.hero-section .bg-cover {
  animation: 5s ease-out 2s 1 scaleUp;
  animation-fill-mode: forwards;
}
.hero-section h1,
.hero-section .pds-input-text,
.hero-section input.pds-input-field__input::placeholder,
.hero-section input.pds-input-field__input {
  color: #FFF;
}


.pds-card-icon {
  position: relative;
  width: 100px;
  height: 100px;
  top: -20px;
  margin: auto;
  background-color: crimson;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
}
.pds-card__text-elements.pad-top-0 {
  padding-top: 0;
}